body{
    background-color: rgb(96, 4, 44);
    font-family: Arial;
}

a{text-decoration: none; color:black;}
a:hover{text-decoration: underline;}

body>header{
    background-color: #ffffff;
    display:flex;
    width:80em;
    margin:0 auto 2em auto;    
    padding:0;
    border-radius:10px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body>header img{
    height:5em;
    border-radius: 10px 0 0 10px;
}
body>header #menu {
    display:flex;
    width:50%;
    align-items: stretch;
    border-left: 1px solid  rgb(215, 137, 173);
    font-size: 1.1em;
    
}
body>header #menu a{
    flex:1;
    text-align: center;
    padding-top:2em;
    border-right: 1px solid  rgb(215, 137, 173);
    font-size: 1.1em;
}
body>header a:hover
{
    background-color: rgb(230, 178, 202);
}
body>header ul{list-style: none;}
body>header #user
{
    margin-left: 30%;
    flex:1;
    border-left: 1px solid  rgb(215, 137, 173);
}
body>header #user>a{
    display:block;
    text-align: center;
    padding:2em 0;
    width:100%;
    font-size: 1.1em;
}
body>header #user ul{ 
    display: none;
    position: absolute;
    padding:0;
    margin:0;
    margin-left:-1rem;
    background-color: #ffffff;
    border: 1px solid  rgb(215, 137, 173);

    z-index: 1;
}
body>header #user ul li a{
    display:block;
    width:10em;
    padding:1em;
    border-bottom: 1px solid  rgb(215, 137, 173);
}
body>header #user:hover ul{
    display:block;
}


#wrapper{
    display:flex;    
    width:80em;
    margin:0 auto 2em auto;
}

#wrapper aside{
    background-color: rgb(214, 175, 191);
    flex:1;
    padding:2em;
    border-radius: 1em; 
    border: inset solid  rgb(120, 24, 64) 3px;
}

#wrapper aside img{
    display: block;
    width:50%;
    margin:auto;
}

#wrapper main{
    flex:3;
    padding-left:1em;
    height: 80vh;
    overflow-y:  scroll;
    border-radius:10px;
}
#wrapper main article{
    background-color: #ffffff;
    padding:1em;
    margin-bottom: 1em ;
    border-radius: 1em;
}
#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size:1em;

}
#wrapper main article time{
    float:left;
}
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
}
#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    text-align: right;

}
#wrapper main article footer small{
    float:left;
    
}
 
    
 
#wrapper.admin{flex-direction: row-reverse}
#wrapper.admin aside{flex:1;margin-left:1em;border-radius:0;padding:0;}
#wrapper.admin main{flex:2;background-color: #ffffff;border-radius: 0;padding:0;}
#wrapper.admin h2{text-align: center;}
#wrapper.admin h3{margin:0;}
#wrapper.admin nav{text-align: right;}
#wrapper.admin article{border:1px solid #ffffff;border-radius: 1em;padding:1em;margin:1em;}
#wrapper.admin article p{float:left;margin:0;}


.parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
.parameters dl dd{margin-left:15em;line-height: 1.5em;}

.contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}

pre{
    color:#ffffff;
}

form dl dt{float:left;font-weight: bold;line-height: 1.5em;}
form dl dd{margin-left:10em;line-height: 1.5em;margin-bottom: 1em}
form dl dd textarea{width:40em;height: 15em;}

time,address{
    font-style: italic;
    font-weight: bold;
    color:rgb(96, 4, 44)
}

#hastag{
    color: rgb(120, 6, 54);
}

#heart,#nbrLike{
   color: rgb(120, 6, 54);
   font-size: 130%;
   border:none;
   background-color: #ffffff;
   transition:all ease 0.2s;
   transform: translateY(2px);
}

#heart:hover{
    color:rgb(214, 175, 191);
    transform: translateY(-2px);
    font-size: 180%;
}

.btn{
    width:60%;
    height:150%;
    background-color: rgb(91, 40, 62);
    color:white;
    font-size: 1.2rem;
    border-radius:10px 0 10px 0;
}

.btn:hover{
    font-size: 1.3rem;
    background-color: rgb(111, 17, 58);
}

